

@media screen and (min-width: 0) and (max-width: 420px) {
    .box{
        overflow: hidden;
        width: 99%;
        height: 100%;
        justify-content: space-around;
        margin-left: 1vh;
    }
    .boxProject {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 70vw;
        height: 40vh;
        background: #2d2d2d;
        color: white;
        border-radius: 20px;
        box-shadow: 1px 1px 10px 10px #383838;
        margin-left: 15%;
        margin-bottom: -10px;
    }
    .boxImg{
        display: flex;
        justify-content: space-around;
        /*margin-top: -35px;*/
    }
    .img{
        height:33vh;
        width: 65vw;
        border-radius: 10px;
        margin-top: -5px;
    }
    .title{
        position: relative;
        margin-top: 10px;
        font-size: 12px;
        margin-left: 12vh;
        z-index: 1;
    }
    .proj{
        margin-left: 68vh;
        color: #d9d0d0;
    }
}
@media screen and (min-width: 420px) and (max-width: 968px) {

    .box{
        margin-top: -10px;
        flex-wrap: wrap;
        overflow: hidden;
        margin-left:9vh;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }

    .proj{
        position:absolute;
        top: 60px;
        font-size: 32px;
        color: white;
    }
    .boxProject {
        flex-wrap: wrap;
        margin-top: 90px;
        transition: 1s;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32vw;
        height: 50vh;
        background: #2d2d2d;
        color: white;
        margin-bottom: 15px;
        box-shadow: 10px 10px 10px 4px #383838;
        border-radius: 20px;
    }
.boxImg{
    display: flex;
    justify-content: space-around;
}
    .boxProject:hover{
        transform: scale(1.04);
        transition: 2s;
    }
    .img{
        margin-top: 10px;
        height:42vh;
        width: 32vw;
        overflow: hidden;
        border-radius: 0 0 20px 10px ;
    }
    .title{
        position: relative;
        margin-top: 3px;
        margin-left: 10vh;
        font-size: 22px;
    }
}

@media screen and (min-width: 968px) and (max-width: 1924px ) {
    .box{
        margin-top: 100px;
       flex-wrap: wrap;
        overflow: hidden;
        margin-left:20vh;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    .proj{
        margin-top: -80px;
        position:absolute;
        font-size: 38px;
        color: white;
    }
    .boxProject {
        transition: 1s;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35vw;
        height: 50vh;
        background: #2d2d2d;
        color: white;
        margin-top: 10px;
        margin-bottom: 15px;
        box-shadow: 10px 10px 10px 4px #383838;
        border-radius: 20px;
    }
    .boxProject:hover{
        transform: scale(1.06);
        transition: 2s;
    }

    .boxImg{
        display: flex;
        justify-content: space-around;
    }
    .img{
     margin-top: 10px;
        height:45vh;
        width: 35vw;
        overflow: hidden;
       border-radius: 0 0 20px 10px ;
    }
    .title{
        position: relative;
        margin-top: 1px;
        margin-left: 22vh;
    }
}