.whit body{
    background: #d9d0d0;
}
.whit .skills {
    color: #1a1a1a;
}
.whit .github{
    color: #1a1a1a;
}
.whit .FaGithub{
    color: #1a1a1a;
}
.whit .projTitl{
    color: #1a1a1a;

}
.whit .boxChar{
    background: radial-gradient(silver,#101010,darkslategrey);
    box-shadow: 2px 1px 30px 10px #8f8d8d,
    2px 1px 30px 10px darkslategray,
    2px 1px 30px 10px darkcyan;
;
}
.whit .href{
    border: 1px solid black;
}
.whit .href:hover{
    box-shadow: 0 1px 3px 2px #8f8d8d,
    0 1px 10px 5px darkslategray,
    0 1px 30px 3px darkcyan;
;
}
.whit .typeP{
    color: #1a1a1a;
    text-shadow: #ffffff -2px 0,
    #504e4e 2px 0;
}
.whit .type{
    color: #1a1a1a;
    text-shadow: #ffffff -3px 0,
    #504e4e 3px 0;
}
.whit .icon{
    box-shadow: inset 0 1px 3px 2px #8f8d8d,
    0 1px 10px 5px darkslategray,
    0 1px 30px 3px darkcyan;
}
.whit .icon:hover{
    box-shadow: inset 0 1px 3px 2px #8f8d8d,
   inset 0 1px 10px 5px darkslategray,
   inset 0 1px 30px 3px #2f6060;
}
@media screen and (min-width: 0) and (max-width: 420px) {
   .whit .icon{
        box-shadow: none;
    }
    .whit .colIcon{
        color: #1a1a1a;
    }
}
.whit .boxIconName span{
    color: #1a1a1a;
}
.whit .backgroundHome{
    background: #b4acac;
}
.whit .me{
    text-shadow: #ffffff -1.5px 0,
    #504e4e 1.5px 0;
}
.whit .ul{
    text-shadow: #ffffff -1.5px 0,
    #504e4e 1.5px 0;
    color: #1a1a1a;
}
.whit .Backend{
    text-shadow: #ffffff -1.5px 0,
    #504e4e 1.5px 0;
    color: #1a1a1a;
}
.whit .frontend{
    text-shadow: #ffffff -1.5px 0,
    #504e4e 1.5px 0;
    color: #1a1a1a;
}
.whit .frontDev{
    text-shadow: #ffffff -1.5px 0,
    #504e4e 1.5px 0;
    color: #1a1a1a;
}
.whit .name{
    text-shadow: #ffffff -2.5px 0,
    #504e4e 2.5px 0;
    color: #1a1a1a;
}
.whit .me {
    text-shadow: #ffffff -2.5px 0,
    #504e4e 2.5px 0;
    color: #1a1a1a;
}
.whit .about{
    text-shadow: #ffffff -3px 0,
    #504e4e 3px 0;
    color: #1a1a1a;
}